/*Импорт шрифтов fonts Roboto Mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: 400;
    background-color: #D9D9D9;
    color: #1E1E1E;
    font-size: 56pt;
}
input {
    font: inherit;
    font-size: 50pt;
    background-color: inherit;

    width: 460px;
    height: 120px;
    border: 6px solid #1E1E1E;
    border-radius: 14px;
    margin: auto auto 70px auto;
    padding-left: 15px;
}
input::placeholder {
    opacity: 50%;
}
input:focus {

}

button {
    font: inherit;
}
a {
    color: #3BA9E8;
    opacity: 70%;
    font-weight: lighter;
    font-size: 40pt;
    margin-left: -200px;
}

.wrapper {
    margin: 30% 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
}

.submit_btn {
    background-color: #1E1E1E;
    color: white;
    border-radius: 14px;
    margin: auto;
    padding: 20px 80px;
}

.block {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.err_label {
    font-size: 30pt;
    color: red;
}