/*Импорт шрифтов fonts Roboto Mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: 400;
    background-color: #D9D9D9;
    color: #1E1E1E;
    font-size: 56pt;
}

button {
    font: inherit;
    background-color: #1E1E1E;
    color: white;
    border-radius: 14px;
    padding: 20px 80px;
}

.wrapper{
    margin: 40% 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    gap: 60px;
}