<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Learning Program</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/base_exam.css">
</head>
<body>
    <div class="wrapper">
        {% block title %}
            <div class="header_bar">
                <label id="inp_count_block" style="display: none;">
                    Input exam task count
                    <input class="block" id="exam_count" type="number">
                </label>
                <div class="count">
                    <label class="count_label" id="curr_count">1</label>
                    <label class="count_label"> of </label>
                    <label class="count_label">{{ max_count }}</label>
                </div>
                <button class="turn_back"></button>
            </div>
            <div class="header">
                <div class="title">{{ title }}</div>
                <div class="block" id="section">{{ section }}</div>
                <div class="block" id="name">{{ name }}</div>
                {% block addons %}{% endblock %}
            </div>
        {% endblock %}
        {% block input_price %}
            <label class="input_label">
            Input price
            <input type="number" class="block" id="input_price" required>
            </label>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block sub_buttons %}
        <button class="submit_btn">Submit</button>
        {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>