{% extends "base_exam.html" %}
{% block content %}
    <label class="input_label">
    Input volume
    <input type="number" class="block" id="input_volume" required>
    </label>
    <label class="sub_title">
        Choose serving
    </label>
    <div class="radio_box">
        {% for serv in serving %}
            <label>
                <input type="radio" class="radio" name="contact" value="{{ serv | short_value }}" checked/>
                {{ serv }}
            </label>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const true_ans_js =  {{ true_ans|tojson }};
        window.localStorage.setItem("true_ans", JSON.stringify(true_ans_js));
    </script>
    <script src="../static/exam_bar.js"></script>
{% endblock %}