<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Learning Program</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/auth_style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sign In
        </div>
        <div id="new_user">
            <a href="sign_up">new user</a>
        </div>
        <div class="block">
            <input id="inp_name" placeholder="name">
        </div>
        <div class="block">
            <input id="inp_password" placeholder="password">
        </div>
        <button class="submit_btn">Submit</button>
    </div>
    <script src="../static/sign_in.js"></script>
</body>
</html>