<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Learning Program</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/quiz.css">
</head>
<body>
    <div class="wrapper">
        <button class="turn_back"></button>
        <div class="title">{{ title }}</div>
        <div class="block">{{ section }}</div>
        <div class="block">{{ name }}</div>
        <div class="radio_box">
            {% for price in prices %}
                <label>
                    <input type="radio" class="radio" name="contact" value="{{ price }}" checked/>
                    {{ price }}р
                </label>
            {% endfor %}
        </div>
        <button class="submit_btn">Submit</button>
    </div>
    <script>
        window.localStorage.setItem("true_ans", {{ true_ans }});
    </script>
    <script src="../static/quiz.js"></script>
</body>
</html>