<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Learning Program</title>
    <link rel="stylesheet" href="wlp/../static/reset.css">
    <link rel="stylesheet" href="wlp/../static/quizzies_list.css">
</head>
<body>
    <div class="wrapper">
        <button class="turn_back"></button>
        <div class="title">{{ title }}</div>
        <button id="exam" class="game">exam</button>
{#        <div class="mistakes_block">#}
{#            <button id="mistakes" class="game">mistakes</button><label id="mistakes_count">{{ mistakes_count }}</label>#}
{#        </div>#}
        <button id="guess_price" class="game">guess price</button>
        {% for name in names %}
            {% set label = " ".join(name.split("_")) %}
            <button id="{{ name }}" class="game">{{ label }}</button>
        {% endfor %}
    </div>
    <script src="wlp/../static/quizzies_list.js"></script>
</body>
</html>