<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Learning Program</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/exam_result.css">
</head>
<body>
    <div class="wrapper">
            <div class="header_bar">
                <button class="turn_back"></button>
            </div>
            <div class="header">
                <div class="title">exam</div>
            </div>
            <div class="results_container">
                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">22</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">3</div>
                                    <div class="block result_False">1</div>
                    <div class="block result_True">2</div>
                    <div class="block result_False">138</div>
            </div>
        <button class="submit_btn">Retry</button>
    </div>
    <script src="../static/exam_result.js"></script>
</body>
</html>