<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Learning Program</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/auth_style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sign Up
        </div>
        <div class="block">
            <input id="inp_email" name="email" placeholder="email" type="email" maxlength="40" required
                   data-toggle="True">
        </div>
        <div class="block">
            <input id="inp_name" name="name" placeholder="name" type="text" maxlength="20" required data-toggle="True">
        </div>
        <div class="block">
            <input id="inp_password" name="password" placeholder="password" maxlength="20" type="password" required
            data-toggle="True">
        </div>
        <button class="submit_btn">Submit</button>
    </div>
    <script src="../static/sign_up.js"></script>
</body>
</html>